{% extends "base.html.j2" %}
{% block title %}History{% endblock %}
{% block content %}
<script src="../static/index.js"></script>

<style>
    body {
    background-color: #f2f2f2;
    }

    h1 {
    color: #333;
    }

    ul {
        list-style:disc inside;
        padding: 0;
    }

    li {
    margin-bottom: 10px;
    }

    
    select {
    padding: 5px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    }

    input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }

    input[type="submit"]:hover {
    background-color: #45a049;
    }

    #buttonSave{
        display: none;
    }

</style>



<form method="POST">
    <ul>
        <h1>Songs</h1>
        {% for rating in ratings %}
        <li><span>{{rating.name}}</span> <select name={{rating.id}} onchange="clickButton()">

            {% if None != rating.rating %}
            <option value="None">None</option>
            {% else %}
            <option value="None" selected>None</option>
            {% endif %}

            {% for x in range(1,6) %}
                {% if x != rating.rating %}
                <option value={{x}}>{{x}}</option>
                {% else %}
                <option value={{x}} selected>{{x}}</option>
                {% endif %}
            {% endfor %}
        </select>
        </li>
        {% endfor %}

        <!-- ARTISTS -->
        <h1>Artists</h1>
        {% for rating_artist in ratings_artist %}
        <li><span>{{rating_artist.name}}</span> <select name={{rating_artist.id}} onchange="clickButton()">

            {% if None != rating_artist.rating %}
            <option value="None">None</option>
            {% else %}
            <option value="None" selected>None</option>
            {% endif %}

            {% for x in range(1,6) %}
                {% if x != rating_artist.rating %}
                <option value={{x}}>{{x}}</option>
                {% else %}
                <option value={{x}} selected>{{x}}</option>
                {% endif %}
            {% endfor %}
        </select>
        </li>
        {% endfor %}
    </ul>
    <center><input type="submit" id="buttonSave" value="Save"></center>
</form>


{% endblock %}