{% extends "base.html.j2" %}
{% block title %}ProvaDB{% endblock %}
{% block content %}
{% if user.username == "Caliu" %}
    <br>
    <table border="1px">
    <th>ID</th><th>Email</th><th>Username</th>
    {% for single_user in list_user %}
    <tr><td>{{single_user.id}}</td><td>{{single_user.email}}</td><td>{{single_user.username}}</td></tr>
    {% endfor %}
    </table>

    <br><br>

    <table border="1px">
    <th>ID</th><th>Name</th>
    {% for song in songs %}
    <tr><td>{{song.id}}</td><td>{{song.name}}</td></tr>
    {% endfor %}
    </table>

    <br><br>

    <table border="1px">
    <th>ID_Utente</th><th>ID_Song</th><th>Rating</th>
    {% for user_rate_song in user_song %}
    <tr><td>{{user_rate_song.user_id}}</td><td>{{user_rate_song.song_id}}</td><td>{{user_rate_song.rating}}</td></tr>
    {% endfor %}
    </table>

{% endif %}
{% endblock %}